.dropdown {
    .dropdown-header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        background: #FF6060;
        padding: 10px;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        align-items: center;

        @media (max-width: 768px) {
            font-size: 13px;
        }
    }

    .chevron {
        transition: transform 0.3s;
        width: 32px;
        height: 32px;

        @media (max-width: 768px) {
            width: 16px;
            height: 9.14px;
        }

        &.open {
            transform: rotate(-180deg);
        }
    }

    .dropdown-content {
        background: #F6F6F673;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 400;
        line-height: 143%;
        animation: fadeIn 0.3s ease-in;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 10px;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            max-height: 0;
        }

        to {
            opacity: 1;
            max-height: 500px;
        }
    }

    &.dropdown-about {
        margin: 30px 108.5px;

        @media (max-width: 768px) {
            margin: 15px 0;
        }
    }

    &.dropdown-housing {
        margin: 0;
    }
}