nav {
    display: flex;
    align-items: center;

    .logo-header {
        width: 210.32px;
        height: 68px;
    }

    .nav-list {
        display: flex;
        gap: 57px;

        .nav-item {
            a {
                display: inline-block;
                font-weight: 500;
                font-size: 24px;
                padding: 0.5rem 0;
                border-bottom: 1px solid transparent;
                transition: border-bottom 0.3s;

                &:hover {
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}