header {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1240px;

    @media (max-width: 768px) {
        margin: 25px;

    }
}

main {
    margin: 0px auto;
    max-width: 1240px;

    @media (max-width: 768px) {
        margin: 0px 25px;
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 50px;

    @media (max-width: 768px) {
        margin-top: 40px;
    }
}